services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: ./app
    container_name: express-api
    ports:
      - "3000:3000"
    depends_on:
      - mongodb

volumes:
  mongo_data:
